.card {
  padding: 20px;
  background-color: rgb(29, 28, 28);
  border: 1px solid rgb(24, 23, 23);
  border-radius: 2vw;
  line-height: 1;
  overflow: hidden;
}

.statusBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 12px 45px;
  margin-bottom: 15px;

  @media (max-width: 425px) {
    flex-wrap: wrap;
  }
}

.btnsWrap {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 20px;
  font-size: 14px;
  line-height: initial;
  align-items: center;
}

.status {
  display: inline-block;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: 2px dotted black;
  line-height: 0.8;
  transition: all 0.2s ease;

  &.complete {
    border-color: #68aee7;
    color: #68aee7;
  }

  &.incomplete {
    border-color: rgb(180, 123, 16);
    color: rgb(180, 123, 16);
  }
}

.deadline {
  transition: color 0.2s ease;

  &.active {
    color: rgb(180, 123, 16);
  }
  &.inactive {
    color: rgb(104, 104, 104);
  }
}
