.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 15px;
  background: #242424;
  border: 1px solid #c3c1c1;
  border-radius: 50%;
}

.line {
  display: block;
  position: absolute;
  width: 10px;
  height: 2px;
  background: #c3c1c1;
  transform-origin: center;
  transition: transform 0.2s;

  &:first-child {
    transform: rotate(90deg);
  }
}